<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left"><%=t (".copy_right")%></p>
    <p class="fl_right"><%= t (".template_by ")%><a target="_blank" href="https://www.os-templates.com/" ><%=t (".os_template")%></a></p>
  </footer>
</div>
